@font-face {
	font-family: 'AdobeBlank-2049';
	src: url('../fonts/AdobeBlank.eot');
	src: url('../fonts/AdobeBlank.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/AdobeBlank.woff') format('woff'),
		 url('../fonts/AdobeBlank.ttf') format('truetype'),
		 url('../fonts/AdobeBlank.svg#AdobeBlank') format('svg');
	font-weight: normal;
	font-style: normal;
}